@import url(https://fonts.googleapis.com/css?family=PT+Sans);


button{
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  margin-top:1vw;
  font-size: 1vw;
  cursor: pointer;

  background: rgba(0,0,0,0.09);
}
.Testet{
  display: block;
  padding: 1vw 3vw;

}
button::before, button::after{
  content:"";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: #fff;
}

.Testet::before, .Testet::after{
  content:"";
  width:2px;
  height:0;
  position: absolute;
  transition: all 0.2s linear;
  background: #fff;
}
button:hover::before, button:hover::after{
  width: 100%;
}
button:hover span::before, button:hover span::after{
  height: 100%;
}
/*----- button 4 -----*/
.btn-4::after{
  right:0;
  bottom: 0;
  transition-duration: 0.4s;
}
.btn-4 span::after{
  right:0;
  bottom: 0;
  transition-duration: 0.4s;
}
.btn-4::before{
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}
.btn-4 span::before{
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}

@media (max-width: 750px) {

  .Testet{
    display: block;
    padding: 10% 8vw;
    font-size: 12px;
  }

}